<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht=device-widht,initial-scale=1.0">
        <title>Jorie ADD Remote Details</title>
        <link rel="stylesheet" href="{% static 'app1/css/bootstrap.css'%}">
    </head>

<body>
    <div class="container" mt-5>
    <h2 class="text-center alert alert-danger">Jorie Azure Machine Detials</h2>
    {% block content %} {% endblock content %}
    </div>
    <script src="{% static 'app1/js/jquery.js' %}"></script>
    <script src="{% static 'app1/js/popper.js' %}"></script>
    <script src="{% static 'app1/js/bootstrap.js' %}"></script>     
</body>
</html>